In [7]:
! pip install sqlalchemy pymysql pandas

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.8/site-packages (1.4.9)
Requirement already satisfied: pymysql in /opt/conda/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.20.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)

In [4]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:123@mysqldb/finaldb")

In [5]:
with engine.connect() as con:
    result = con.execute("SHOW TABLES;")

for row in result:
    print(row)

In [17]:
import pandas as pd

personas = pd.read_csv("./data/personas.csv",usecols=["id","nombre","telefono","fecha","ciudad"])

compradores = pd.read_csv("./data/compradores.csv")

In [18]:
personas.head()

   id                nombre        telefono       fecha               ciudad
0   1  Allison, Chadwick Z.  (109) 755-3438  24/09/2021             Rangiora
1   2          Reed, Hop S.  (914) 321-5936  14/03/2022  Lac La Biche County
2   3       Ratliff, Jin I.  (413) 616-1765  29/11/2020              Kumluca
3   4       Sharpe, Vera Z.  (463) 718-7720  17/04/2022                Bannu
4   5      Gaines, Alice F.  (768) 619-6484  13/04/2021         Ruddervoorde

In [19]:
compradores.head()

   id comprador  bid_min  bid_max
0   1    Toyota       50       60
1   2     Honda       45       58
2   3   Hyundai       52       62

In [2]:
import threading
import time
import logging
import random
import queue


logging.basicConfig(level=logging.DEBUG,
                    format='(%(threadName)-9s) %(message)s',)

BUF_SIZE = 10
q = queue.Queue(maxsize=BUF_SIZE)

class ProducerThread(threading.Thread):
    def __init__(self, group=None, target=None, name=None,
                 args=(), kwargs=None, verbose=None):
        super(ProducerThread,self).__init__()
        self.target = target
        self.name = name

    def run(self):
        while (True):
            if not q.full():
                count = count +1
                item = random.randint(1,10)
                q.put(item)
                logging.debug('Putting ' + str(item)  
                              + ' : ' + str(q.qsize()) + ' items in queue')
                time.sleep(random.random())
        return

class ConsumerThread(threading.Thread):
    def __init__(self, group=None, target=None, name=None,
                 args=(), kwargs=None, verbose=None):
        super(ConsumerThread,self).__init__()
        self.target = target
        self.name = name
        return

    def run(self):
        while True:
            if not q.empty():
                item = q.get()
                logging.debug('Getting ' + str(item) 
                              + ' : ' + str(q.qsize()) + ' items in queue')
                time.sleep(random.random())
        return

In [ ]:
   count = 0

    
    p = ProducerThread(name='producer')
    c = ConsumerThread(name='consumer')

    p.start()
    c.start()
    
    p.join()
    c.join()